DB_NAME=wordpress
DB_USER=wordpress
DB_PASSWORD=local-wordpress-password
DB_ROOT_PASSWORD=local-root-password

WORDPRESS_PORT=8080
WORDPRESS_DEBUG=1
PHPMYADMIN_PORT=8081
MAILPIT_UI_PORT=8025
MAILPIT_SMTP_PORT=1025
